@keyframes fade-bg {
    0% {
        background-image: url("http://ddc.greenpeace.org.tw/2019/retailer/imgs/retailer_1.jpg");
    }

    50% {
        background-image: url("http://ddc.greenpeace.org.tw/2019/retailer/imgs/retailer_2.jpg");
    }

    100% {
        background-image: url("http://ddc.greenpeace.org.tw/2019/retailer/imgs/retailer_1.jpg");
    }

}

body {
    animation-name: fade-bg;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    background-image: url("http://ddc.greenpeace.org.tw/2019/retailer/imgs/retailer_1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Noto Sans TC', PingFang TC, Microsoft YaHei, Heiti TC, LiHei Pro, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.header-slider {
    width: 100%;
    animation-name: fade-bg;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    background-image: url("http://ddc.greenpeace.org.tw/2019/retailer/imgs/retailer_1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.navbar {
    padding: .5rem 0rem;
}
.body-cover {
    background-color: rgba(0, 0, 0, 0.86);
}
.navbar-black {
    background-color: black;
}

.main-content {
    color: #f9f9f9;
}
.main-content > .form-container{
    color: #000000;
}

.text-content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
}
.progress-bar-section {
    width: 100%;
    padding: 20px 0;
}
.progress-bar-section > .progress-title {
    margin-bottom: 10px;
    text-align: center;
}
.progress-bar-section #countup-title {
    font-weight: 700;
}
.progress-bar-section > .progress-bar {
    width: 100%;
    height: 8px;
    background-color: #f9f9f9;
}
.progress-bar-section > .progress > svg {
    height: 100%;
    display: block;
}

@media (min-width: 768px) {
    .header-slider {
        min-height: 400px;
    }
    .main-content > .title {
        padding: 50px 10px;
        text-align: left;
    }
    .main-content > .form-container {
        margin-top: -100px;
        background-color: #f9f9f9;
        border-radius: 5px;
        padding: 40px;
    }
    .main-content > .title > h1 {
        color: white;
        font-size: 3.5rem;
    }
    .text-content {
        letter-spacing: 2px;
        text-align: justify;
    }

    .text-content > p {
        margin: 0;
        line-height: 1.5;
    }
    .text-content>p+p {
        margin-top:20px;
    }

    .text-content > h4 {
        margin: 10px 0;
        line-height: 1.5;
    }
    
    .mart-icon-section {
        padding-top: 40px;
        padding-bottom: 10px;
    }
    .mart-icon-section > div {
        padding-top: 10px;
    }
    .mart-icon-caption {
        padding: 10px 0;
    }
    .img-responsive {
        max-width:100px;
        width: 100%;
    }
    .footer-section {
        width: 100%;
        background-color: black;
    }
}

@media (max-width: 767px) {
    .header-slider {
        min-height: 230px;
        margin: 10px 0;
    }
    .main-content > .title {
        padding: 20px 15px;
        text-align: left;
    }
    .main-content > .header-slider {
        margin: 0;
        padding: 20px 0;
    }
    .main-content > .form-container {
        background-color: #f9f9f9;
        border-radius: 5px;
        padding: 25px;
        margin: 15px;
    }
    .main-content > .title > h6 {
        text-align: left;
        font-size: 1.1rem;
    }
    .text-content {
        font-size: 1.1rem;
        letter-spacing: 2px;
        text-align: justify;
    }

    .text-content > p {
        margin: 0;
        line-height: 1.5;
    }

    .text-content > h4 {
        margin: 10px 0;
        line-height: 1.5;
    }
    
    .mart-icon-section {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .mart-icon-section > div {
        padding-top: 10px;
    }
    .img-responsive {
        width: 100%;
    }
    .scrollspy-btn {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: black;
    }
    .hidden-xs {
        display:none;
    }
}
