@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

.flex-row {
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.container {
	width: 100% !important;
}

.align-center {
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
	-webkit-align-items: center;
    align-items: center;
	width: 100%;
}

.desktop-hidden {
	display: none;
}

.mobile-hidden {
	display: block;
}

a {
    color: #32b2ed;
}

header {
	/*background: #fff;
	height: 26px;*/
	padding: 0;	
}

header .logo {
	position: absolute;
	top: 15px;
	left: 25px;
	display: block;
	background: url(https://secured-static.greenpeace.org/taiwan/Global/taiwan/GP-green-230.png) 0 0 no-repeat;
	background-size: contain;
	width: 230px;
	height: 26px;
	z-index: 10;	
}

header .visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;	
}

footer {
	display: -webkit-flex;
    display: flex;   
	-webkit-align-content: space-between;
	justify-content: space-between;
	background: black;
	height: var(--footer-height);
	font-size: 0.9rem;;
	color: #66CC00;
	line-height: 1.5rem;
	z-index: 10;
	height: auto;
	padding: 1rem;
}

footer ul {	
    list-style-type: none;
	padding: 0;
	margin: 0 20px;
}

footer ul li {
	display: inline;	
}

footer a {	
	display: inline-block;
	color: #f9f9f9;
	text-decoration: none;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
footer a:hover {	
    color: #66CC00;
    text-decoration: none;
}

footer ul li:last-child a {
	padding-right: 0px;
}

footer .gp-div {
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

footer .copy-box {
	order: 2;
	color: #66CC00;
}

footer .legal-menu {
	order: 1;
}

#enform > h1, h2, h3 {
	color: #000000;
	letter-spacing: .3rem;
	line-height: 2rem;
	text-shadow: none;
	display: block;
}

.section-full_split, .section-full_bg {
	-moz-align-items: stretch;
	-webkit-align-items: stretch;
	-ms-align-items: stretch;
	align-items: stretch;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-moz-justify-content: -moz-flex-end;
	-webkit-justify-content: -webkit-flex-end;
	-ms-justify-content: -ms-flex-end;
	justify-content: flex-end;
	position: relative;
	text-align: left;
	overflow-x: hidden;	
	min-height: 100vh;
}

.section-full_split .left-section {
	padding: 5rem 5rem 4rem 5rem;	
	-webkit-flex-grow: 1;
	flex-grow: 1;
	-webkit-flex-shrink: 1;
	flex-shrink: 1;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
	margin: 0 auto;
	z-index: 8;
}

.section-full_split .left-section {
	-webkit-align-self: center;
	align-self: center;
	width: 65%;	
}

.section-full_split .right-section {	
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	border-radius: 0;
	width: 35%;
	position: relative;
	/*
	background: url("http://ddc.greenpeace.org.tw/2019/retailer/imgs/retailer_1.jpg") no-repeat center center;
	background-size: cover; */
	background: #fff;
	overflow: hidden;
	
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
	-webkit-align-content: center;
	justify-content: center;
	
	background: #fcfcfc;
	margin-top: 80px;
	z-index: 10;
}

.target-logos {
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
	-webkit-align-content: space-between;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.target-logo {
	width: 55px;
	height: 55px;
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
	-webkit-align-content: center;
	justify-content: center;
}
.target-logo img {
	width: 50px;
}

.target-note {
	color: gray; 
	font-size: .8rem;
}

.section-full_split .right-inner {	
	height: auto; 
	width: 80%;
	min-width: 250px;	
	padding: 25px;	
	border-radius: 5px;	
	/*box-shadow: 4px 4px 3px rgba(20%,20%,40%,0.5);*/
	background-color: rgba(225,225,225, 0.8);
	color: #50645D;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-sizing: border-box;	
	box-sizing: border-box;
	z-index: 10;
}

.section-full_split .right-section-image {	
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.left-section-image {		
	width: 100%;	
}

.slide-image {
	width: 100%;
}

.mobile-botton {
	display: none;
	z-index: 9;
}

.en__field__phoneExample {
	font-size: 0.8rem;
	line-height: 1rem;
	color: #50645D;
}

.enform__default {
	display: none;
}
.enform__close {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	display: none;
	height: 30px;
	width: 30px
}
.enform__close:hover:after,.enform__close:hover:before {
	width:4px
}
.enform__close:after,.enform__close:before {
	background:#fff;
	content:"";
	height:20px;
	width:20px;
	position:absolute;
	transform:translateZ(0);
	transform-origin:50% 50%;
	transition:transform .3s cubic-bezier(.4,0,.2,1);
	width:3px
}
.enform__close:before {
	left:14px;
	transform:rotate(45deg)
}
.enform__close:after {
	left:14px;
	transform:rotate(-45deg)
}

.enform__login {
	margin-bottom: 1rem;
}
.enform__login .form-social {
	text-align:center
}
.enform__login .form-social .social-login {
	font-size:14px;
	display:inline-block;
	box-sizing:border-box;
	position:relative;
	margin-bottom:8px;
	padding:0 40px 0 60px;
	border:none;
	text-align:left;
	line-height:32px;
	white-space:nowrap;
	border-radius:3px;
	color:#fff;
	cursor:pointer;
	font-weight:300;
	letter-spacing:1px
}
.enform__login .form-social .social-login:before {
	content:"";
	box-sizing:border-box;
	position:absolute;
	top:0;
	left:0;
	width:34px;
	height:100%
}
.enform__login .form-social .social-login:focus {
	outline:none
}
.enform__login .form-social .social-login:active {
	box-shadow:inset 0 0 0 32px rgba(0,0,0,.1)
}
.enform__login .form-social .login__fb {
	background-color:#4267B2;
}

.enform__login .form-social .login__fb:before {
    border-right: 1px solid #4267B2;
    background-image: url(http://ddc.greenpeace.org.tw/others/flogo-HexRBG-Wht-58.png);
    background-size: 20px;
    background-position: 50%;
    background-repeat: no-repeat;
}
.enform__login .form-social .login__fb:focus,.enform__login .form-social .login__fb:hover {
	background-color:#5b7bd5;
	background-image:linear-gradient(#5b7bd5,#4864b1)
}
.enform__login .form__or {
	position:relative;
	height:16px;
	width:80%;
	margin:0 auto;
	color:#ccc;
}
.enform__login .form__or:after,.enform__login .form__or:before {
	content:"";
	position:absolute;
	width:70px;
	height:1px;
	background-color:#ccc
}
.enform__login .form__or:before {
	left:0;
	top:50%
}
.enform__login .form__or:after {
	right:0;
	top:50%
}
.enform__login .form__or span {
	text-align:center;
	font-size:13px;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%)
}

.enform__text {
    width: 100%;
	font-size: 1.2rem !important; 
	margin: 0 0 15px 0;
}

.enform__text h4 {
	font-size: 1.5rem !important;
	margin: 15px 0 5px 0;
}

/* for EN petition */
.en__component--page {
    width: 100%;
	opacity: 1;	
	-webkit-box-sizing: border-box;    
	box-sizing: border-box;	
}

.en__component--page h2 {
	color: #ffffff !important;	
	letter-spacing: 3rem;
	font-size:1.3rem;
	line-height: 1.1rem;
	/*text-shadow: 2px 2px 3px rgba(0,0,0,.9);*/
	font-weight: bold;
}

.en__component--column {
	padding: 0;
	min-width: 100px !important;
}

.en__component--contactblock {
    margin-bottom: 20px;
}

.en__field {	
	display: none;
	width: 100%;
}

.en__field--emailAddress {
	display: block;
}

.en__field__element {
	position: relative;
}

.en__field__input--text, .en__field__input--select, .en__field--telephone, .en__field--email {
	-webkit-box-sizing: border-box;    
	box-sizing: border-box;
	font-family: "Noto Sans TC", "Microsoft YaHei", "Microsoft JhengHei", Arial, sans-serif !important;
	width:100% !important;
	height:40px;
	font-size:16px!important;
	padding:0 5px;
	margin: 10px 0;    
	border:1px solid #ccc;
	border-radius:3px;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	outline:0;
	/* background:#000 !important; */
}

.en__field__element--text, .en__field__element--select {
	display: block !important;	
}

.en__field__input--select {
	min-width: 0 !important;
}

.en__field__element--checkbox {
	margin: 0;
}

.en__field__element--checkbox>.en__field__item {
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
	-webkit-align-items:flex-start;
	align-items: flex-start;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.en__field__element--checkbox label {
	display: block !important;
	/*
	position: relative;
	top: -20px;
    left: 20px;
	*/
	font-size: 0.8rem;
	/*font-family: "Noto Sans TC", "Microsoft YaHei", "Microsoft JhengHei", Arial, sans-serif !important;*/
	line-height: 1.1rem;
	width: calc(100% - 30px);
}
.en__field--checkbox a {
	color: #fff;
	text-decoration: underline;
}

.en__submit {
	margin: 0;	
}

.en__submit button{	
	white-space: nowrap;        
    background: #F53530;
	color: #ffffff;    
    border: none;	
	border-radius: 4px;	    
    width: 100%;
    padding: 0.3125rem 0.625rem;		
    font-size: 1.3rem;    
	letter-spacing: 5px;	
	font-family: "Noto Sans TC", "Microsoft YaHei", "Microsoft JhengHei", Arial, sans-serif !important;
	transition: 0.3s;
}

.en__submit button:hover { 
	background: #66cccc;
}

.en__submit button:active {
	background: #66cccc;
}

.en__contactDetails__rows {    
    display: none;
}

.en__contact {
    font-size: small;
}

.en__field__error {
	font-size:12px;
	color:#F00;
	font-family: "Noto Sans TC", "Microsoft YaHei", "Microsoft JhengHei", Arial, sans-serif !important;
}

.en__field__label {
	display: none !important;
}

.en__component--widgetblock {
	display: none;
}

.barWrapper {
	color: #50645D;
}
/* .barWrapper .progress {
	border-radius:0;
	overflow:visible;
	display:-ms-flexbox;
	display:flex;
	height:8px;
	font-size:14px;
	background-color:#e9ecef;
	margin-top:8px
} */
/* .barWrapper .progress-bar {
	width:0;
	transition:width 1.5s ease-in-out;
	background-color: #F53530;
} */
/* .barWrapper #ticker {
	font-size:18px;
	font-weight:700
} */
.barWrapper .barTarget p {
	font-size:14px;
    margin-bottom: 20px;
    text-align: center;
}

@media screen and (max-width:1200px) {
	.section-full_split .left-section {
		padding: 4rem 4rem 3rem 4rem;
	}
}
@media screen and (max-width:750px) {	
	.desktop-hidden {
		display: block;
	}
	
	.mobile-hidden {
		display: none;
	}
	
	.section-full_split {
		-moz-flex-direction: column-reverse;
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		/*text-align: center !important;*/
		width: 100%;
		max-width: 100%;
	}
	
	.section-full_split .right-section {
		-webkit-flex-direction: column;		
		flex-direction: column;
		background: none !important;
		width: 100%;		
		margin-top: 0px;
	}
	
	.section-full_split .right-inner {
		width: 100%;
		height: 100%;
		padding: 2rem;
		background-color: #F2EDD4;
		border-radius: 0;
	}
	
	.section-full_split .right-section-image {
		position: relative;
		display: block;
		width: 100%;
		max-width: 100% !important;
	}
	
	.section-full_split .left-section {
		width: 100%;
		padding: 0;
	}

	.section-full_split .left-inner {		
		width: 100%;
		padding: 1rem 2rem;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	.enform[data-aos=slide-left] {
		-webkit-transform: translateX(0);
		transform: translateX(0);		
	}
	
	header .logo {		
		background: url(https://secured-static.greenpeace.org/taiwan/Global/taiwan/custom-logo.png) 0 0 no-repeat;		
		z-index: 12;
	}
	
	footer {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	
	footer .gp-div {
		-webkit-flex-direction: column;
		flex-direction: column;
		text-align: center;	
		width: 100%;
	}	
	
	footer .bottom-menu {
		text-align: center;
		margin-bottom: 35px;
	}
	
	.mobile-botton {
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-align-content: center;
		justify-content: center;	
		
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 40px;
		cursor: pointer;
		
		color: #ffffff;            
		font-size: 1.3rem;    
		letter-spacing: 5px;	
		font-family: "Noto Sans TC", "Microsoft YaHei", "Microsoft JhengHei", Arial, sans-serif !important;		
		text-shadow:0 1px 4px rgba(0,0,0,.25);
		background-color: #F53530;
		border: none;		
	}
	/*
	.mobile-botton::after {
		content: "";
		position: absolute;
		right: -10px;
		bottom: -20px;
		height: 120px;
		width: 120px;
		background-image: url(https://secured-static.greenpeace.org/taiwan/Global/taiwan/code/2018/iOcean/sea_turtle.png);
		background-size: cover;
		background-position: center center;
	}
	*/
	.mobile-botton:hover {
		background: #66ccc0;
	}
	
	.mobile-botton:active {
		background: #66cccc;
	}
	
	/* .barWrapper .progress {
		background-color: #a2bfb7
	} */
}

@media screen and (max-width:360px) {	
	.legal-menu {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	
	.bottom-menu {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
	}
}

@-webkit-keyframes shrink {
	0% {
		background-size: 110% auto;
	}
	100% {
		background-size: 100% auto;
	}
}
@keyframes shrink {
	0% {
		background-size: 110% auto;
	}
	100% {
		background-size: 100% auto;
	}
}